/*menu icons*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
nav{
  position: fixed;
  width: 70px;
  margin-top: 300px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
}
nav li{
  height: 60px;
  position:relative;
}
nav li a{
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left:25%;
  transition: all .3s linear;
}
nav li:nth-child(1) a{
  background: #00ADB5;
}
nav li:nth-child(2) a{
  background: #00ADB5;
}

nav li a i{
  position:absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;
}
ul li a span{
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a:hover {
  z-index:1;
  width: 200px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
ul li:hover a span{
  padding-left: 30%;
  display: block;
}

@font-face {
    font-family: imperator;
    src: url(./fonts/ImperatorSmallCaps.ttf);
}

body {
    margin: 0;
    background-color: #FAF9F9;
}

body {
    font-family: 'Roboto', sans-serif;
}

#progress {
    background-color: #00ADB5;
    height: 8px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.o-nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.o-nav h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 17px 0 17px 0;
    margin: 0;
    color: #00ADB5;
}

.o-nav h3 {
    font-size: 35px;
    font-weight: lighter;
    padding: 17px 0 17px 10px;
    margin: 0;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 350px 200px 350px;
}

.column h3 {
    align-self: flex-start;
    font-size: 14px;
    font-weight: lighter;
}

.name {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
}

.name img {
    width: 120px;
    height: 130px;
    padding: 0 0 10px 0;
}

.name h4 {
    font-size: 18px;
    font-weight: 300;
    padding: 48px 0 0 1px;
}


.o-column h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;
    font-weight: 400;
    padding: 10px 0 10px 0;
    margin: 0;
}

.o-column p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 1025px) {
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 200px 200px 200px;
    }
}

@media screen and (max-width: 768px) {

    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 150px 200px 150px;
    }

    .o-column h1 {
        font-family: 'Bodoni Moda', serif;
        font-size: 60px;
        font-weight: 400;
        padding: 10px 0 10px 0;
        margin: 0;
    }
}

@media screen and (max-width: 426px) {
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 60px 200px 60px;
    }

    .o-column h1 {
        font-family: 'Bodoni Moda', serif;
        font-size: 40px;
        font-weight: 400;
        padding: 10px 0 10px 0;
        margin: 0;
    }
}