@font-face {
    font-family: imperator;
    src: url(./fonts/ImperatorSmallCaps.ttf);
}

body {
    margin: 0;
    background-color: #FAF9F9;
}

body {
    font-family: 'Roboto', sans-serif;
}

#progress {
    background-color: #00ADB5;
    height: 8px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.o-nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.o-nav h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 17px 0 5px 0;
    margin: 0;
    color: #00ADB5;
}

.o-nav h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 0 15px 0;
    margin: 0;
}

.container-media {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.container-media img {
    width: 35px;
    height: 35px;
    padding: 10px;
}


.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 350px 200px 350px;
}

.column h3 {
    align-self: flex-start;
    font-size: 20px;
    font-weight: lighter;
}

.name {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
}

.name img {
    width: 120px;
    height: 120px;
    padding: 0 0 10px 0;
}

.name h4 {
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0 0 1px;
}


.o-column h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;
    font-weight: 400;
    padding: 10px 0 10px 0;
    margin: 0;
}

.o-column p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 1025px) {
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 200px 200px 200px;
    }
}

@media screen and (max-width: 768px) {

    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 150px 200px 150px;
    }

    .o-column h1 {
        font-family: 'Bodoni Moda', serif;
        font-size: 60px;
        font-weight: 400;
        padding: 10px 0 10px 0;
        margin: 0;
    }
}

@media screen and (max-width: 426px) {
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 60px 200px 60px;
    }

    .o-column h1 {
        font-family: 'Bodoni Moda', serif;
        font-size: 40px;
        font-weight: 400;
        padding: 10px 0 10px 0;
        margin: 0;
    }
}