* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(./fondomenu/sm.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif; 
}

.subtitulo {
    margin: 7px 0;
    color: white;
    display: inline;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.carousel {
    min-height: 300px;
    position: absolute;
    top: 20%;
    left: 0;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    user-select: none;
    width: 300px;
    height: 300px;
    padding-top: 240px;
}

.carousel .carousel-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 3%;
}

.carousel .carousel-item a {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.carousel .carousel-item a:hover {
    cursor: zoom-in;
}

.carousel .carousel-item a h1 {
    font-size: 25px;
    margin-top: 0;
    font-weight: lighter;
}

/*MENU*/

.container-icons img {
    position: fixed;
    left: 93%;
    top: 35%;
    display: flex;
    height: 45px;   
}

.container-icons2 img {
    position: fixed;
    left: 93%;
    top: 50%;
    display: flex;
    height: 45px;   
}

/*modal*/

.o-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.modal {
    width: fit-content;
    max-height: 100%;
}

.modal .modal-content {
    padding: 0;
}