* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif; 
}

.carousel {
    min-height: 300px;
    position: absolute;
    top: 20%;
    left: 0;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    user-select: none;
    width: 300px;
    height: 300px;
    padding-top: 240px;
}

.carousel .carousel-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 3%;
}

.carousel .carousel-item a {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.carousel .carousel-item a:hover {
    cursor: zoom-in;
}


/*modal*/

.o-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
}

.modal {
    width: fit-content;
    max-height: 500px;
}

.modal .modal-content {
    padding: 0;
}

#modal7 modal-content o-modal {
    width: fit-content;
    max-height: 520px;
}


@media screen and (max-width: 1025px) {
    .o-modal {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 500px;
      }
      
      .modal {
          width: fit-content;
          max-height: 500px;
          margin-top: -2rem;
      }
      
      .modal .modal-content {
          padding: 0;
      }
}

@media screen and (max-width: 768px) {
    .carousel {
        min-height: 250px;
        position: absolute;
        top: 4rem;
        left: -2rem;
    }
    
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        user-select: none;
        width: 300px;
        height: 300px;
        padding-top: 160px;
    }
    
    .carousel .carousel-item img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: -1;
        border-radius: 3%;
    }
    
    .carousel .carousel-item a {
        color: white;
        font-size: 20px;
        font-weight: 300;
        margin-left: -3rem;
    }
    
    .carousel .carousel-item a:hover {
        cursor: zoom-in;
    }
    
    
    /*modal*/
    
    .o-modal {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 500px;
    }
    
    .modal {
        width: fit-content;
        max-height: 500px;
        margin-top: -1rem;
    }
    
    .modal .modal-content {
        padding: 0;
    }

    .carousel .indicators {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 4rem;
}

}

@media screen and (max-width: 426px) {
    
    .carousel {
        min-height: 200px;
        position: absolute;
        top: 4rem;
        left: 0;
    }
    
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        user-select: none;
        width: 200px;
        height: 200px;
        padding-top: 150px;
    }
    
    .carousel .carousel-item img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: -1;
        border-radius: 3%;
    }
    
    .carousel .carousel-item a {
        color: white;
        font-size: 20px;
        font-weight: 300;
        padding-left: 43px;
    }
    
    .carousel .carousel-item a:hover {
        cursor: zoom-in;
    }
    
    
    /*modal*/
    
    .o-modal {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 280px;
    }
    
    .modal {
        width: fit-content;
        max-height: 280px;
        margin-top: 5rem;
    }
    
    .modal .modal-content {
        padding: 0;
    }

    .carousel .indicators {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: -0.9rem;
}

}