/*menu correo*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Montserrat', sans-serif;
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  nav{
    position: fixed;
    width: 70px;
    margin-top: 70px;
    transition: all 0.4s linear;
  }
  nav li{
    height: 60px;
    position:relative;
  }
  nav li a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    padding-left:25%;
    transition: all .2s linear;
  }
  nav li:nth-child(1) a{
    background: #222a3a;
  }

  nav li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
  }
  ul li a span{
    display: none;
    font-weight: 300;
    letter-spacing: 1px;
  }

nav ul li a:hover {
    z-index:1;
    width: 300px;
}

  a:hover {
    z-index:1;
    width: 100px;
  }
  
  ul li:hover a span{
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
  }

/*final correo*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
    overflow: hidden;
}



.text1 h2 {
    margin-left: -40rem;
    font-size: 40px;
    font-weight: lighter;
    color: white;
}

.text2 h1 {
    margin-left: -40rem;
    font-size: 120px;
    font-weight: bold;
    color: white;
}

.text p {
    margin-top: 1rem;
    margin-left: -40rem;
    font-size: 25px;
    font-weight: 300;
    color: white;
}


.container-icons img {
    position: fixed;
    left: 93%;
    top: 35%;
    display: flex;
    height: 45px;   
}

.container-icons2 img {
    position: fixed;
    left: 93%;
    top: 45%;
    display: flex;
    height: 45px;   
}

.container-media1 img {
    position: fixed;
    left: 93%;
    top: 90%;
    height: 45px;   
}

.container-media2 img {
    position: fixed;
    left: 93%;
    top: 81%;
    height: 45px;   
}

#sec1 {
    background-image: url(./fondomenu/32.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*menu*/

.wrapper {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #222a3a;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-right: 5rem;
    margin-left: 10rem;
    border-radius: 11px;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px)
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 280px;
    height: 360px;
    background: #222a3a;
    border-radius: 11px;
    z-index: 1;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 30;
}

.card img {
    width: 280px;
    height: 360px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 11px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.card .info h1 {
 font-size: 90px;
 font-weight: lighter;
 margin-left: 0;
}

.card .info a {
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.createbyme p {
    display: flex;
    justify-content: end;
    flex-direction: row;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    margin: -21rem 0rem -10rem -45.5rem;
}

#sec2 {
    background-image: url(./fondomenu/33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1025px) {

    /*menu correo*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  body{
    
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  nav{
    position: fixed;
    width: 70px;
    margin-top: 70px;
    transition: all 0.4s linear;
  }
  nav li{
    height: 60px;
    position:relative;
  }
  nav li a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    padding-left:25%;
    transition: all .2s linear;
  }
  nav li:nth-child(1) a{
    background: #222a3a;
  }

  nav li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
  }
  ul li a span{
    display: none;
    font-weight: 300;
    letter-spacing: 1px;
  }

  nav ul li a:hover {
    z-index:1;
    width: 300px;
}

  a:hover {
    z-index:1;
    width: 100px;
  }
  
  ul li:hover a span{
    padding-left: 40px;
    padding-top: 20px;
  }

  a:hover ::after {
    z-index:1;
    width: 300px;
    transition: all 0s;
  }

/*final correo*/

    .container-icons img {
        position: fixed;
        left: 94%;
        top: 30%;
        display: flex;
        height: 40px;   
    }
    
    .container-icons2 img {
        position: fixed;
        left: 94%;
        top: 40%;
        display: flex;
        height: 40px;   
    }
    
    .container-media1 img {
        position: fixed;
        left: 94%;
        top: 80%;
        height: 40px;   
    }
    
    .container-media2 img {
        position: fixed;
        left: 94%;
        top: 70%;
        height: 40px;   
    }

    .text1 h2 {
        margin-left: -12rem;
        font-size: 30px;
        font-weight: lighter;
        color: white;
    }
    
    .text2 h1 {
        margin-left: -12rem;
        font-size: 90px;
        font-weight: bold;
        color: white;
    }
    
    .text p {
        margin-top: 1rem;
        margin-left: -12rem;
        font-size: 25px;
        font-weight: 300;
        color: white;
    }

    /*section2*/
    
    .wrapper {
        display: flex;
        justify-content: space-around;
    }
    
    .card {
        width: 280px;
        height: 360px;
        padding: 2rem 1rem;
        background: #222a3a;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-right: 5rem;
        margin-left: 5rem;
        border-radius: 11px;
        transition: 0.5s ease-in-out;
    }
    
    .card:hover {
        transform: translateY(20px)
    }
    
    .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 280px;
        height: 360px;
        background: #222a3a;
        border-radius: 11px;
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    
    .card:hover:before {
        opacity: 30;
    }
    
    .card img {
        width: 280px;
        height: 360px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
    }
    
    .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
    }
    
    .card:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }
    
    .card .info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }
    
    .card .info h1 {
     font-size: 90px;
     font-weight: lighter;
     margin-left: 0;
    }
    
    .card .info a {
        font-size: 30px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }
    
    .createbyme p {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-weight: lighter;
        font-size: 15px;
        color: white;
        margin-top: -14rem;
        margin-right: 12rem;
    }
}

@media screen and (max-width: 768px) {
    .container-icons img {
        position: fixed;
        left: 92%;
        top: 30%;
        display: flex;
        height: 40px;   
    }
    
    .container-icons2 img {
        position: fixed;
        left: 92%;
        top: 40%;
        display: flex;
        height: 40px;   
    }
    
    .container-media1 img {
        position: fixed;
        left: 92%;
        top: 80%;
        height: 40px;   
    }
    
    .container-media2 img {
        position: fixed;
        left: 92%;
        top: 70%;
        height: 40px;   
    }

    .text1 h2 {
        margin-left: -2rem;
        font-size: 20px;
        font-weight: lighter;
        color: white;
    }
    
    .text2 h1 {
        margin-left: -2rem;
        font-size: 80px;
        font-weight: bold;
        color: white;
    }
    
    .text p {
        margin-top: 1rem;
        margin-left: -2rem;
        font-size: 18px;
        font-weight: 300;
        color: white;
    }

    /*section2*/
    
    .wrapper {
        display: flex;
        justify-content: space-around;
    }
    
    .card {
        width: 180px;
        height: 260px;
        padding: 2rem 1rem;
        background: #222a3a;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-right: 5rem;
        margin-left: 5rem;
        border-radius: 11px;
        transition: 0.5s ease-in-out;
    }
    
    .card:hover {
        transform: translateY(20px)
    }
    
    .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 180px;
        height: 260px;
        background: #222a3a;
        border-radius: 11px;
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    
    .card:hover:before {
        opacity: 30;
    }
    
    .card img {
        width: 180px;
        height: 260px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
    }
    
    .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
    }
    
    .card:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }
    
    .card .info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }
    
    .card .info h1 {
     font-size: 50px;
     font-weight: lighter;
     margin-left: 0;
    }
    
    .card .info a {
        font-size: 20px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        margin-left: 4px;
    }
    
    .createbyme p {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-weight: lighter;
        font-size: 15px;
        color: white;
        margin-top: -14rem;
        margin-right: -2rem;
    }
}

nav ul li a:hover {
    z-index:1;
    width: 300px;
}

  a:hover {
    z-index:1;
    width: 100px;
  }


@media screen and (max-width: 426px) {


    nav ul li a:hover {
        z-index:1;
        width: 300px;
    }
    
      a:hover {
        z-index:1;
        width: 90px;
      }

    .container-icons img {
        position: fixed;
        left: 88%;
        top: 35%;
        display: flex;
        height: 30px;   
    }
    
    .container-icons2 img {
        position: fixed;
        left: 88%;
        top: 45%;
        display: flex;
        height: 30px;   
    }
    
    .container-media1 img {
        position: fixed;
        left: 88%;
        top: 90%;
        height: 30px;   
    }
    
    .container-media2 img {
        position: fixed;
        left: 88%;
        top: 81%;
        height: 30px;   
    }

    .text1 h2 {
        margin-left: 1rem;
        font-size: 20px;
        font-weight: lighter;
        color: white;
    }
    
    .text2 h1 {
        margin-left: 1rem;
        font-size: 70px;
        font-weight: bold;
        color: white;
    }
    
    .text p {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 15.5px;
        font-weight: 300;
        color: white;
    }

    /*section2*/
    .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card {
        width: 120px;
        height: 160px;
        padding: 4rem 0rem;
        background: #222a3a;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 8rem;
        margin-left: 8rem;
        border-radius: 8px;
        transition: 0.5s ease-in-out;
    }
    
    .card:hover {
        transform: translateY(10.5px)
    }
    
    .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 120px;
        height: 160px;
        background: #222a3a;
        border-radius: 8px;
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    
    .card:hover:before {
        opacity: 30;
    }
    
    .card img {
        width: 120px;
        height: 160px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 9.5px;
    }
    
    .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
    }
    
    .card:hover .info {
        opacity: 1;
        transform: translateY(20px);
    }
    
    .card .info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .card .info h1 {
     font-size: 25px;
     font-weight: lighter;
     margin-left: 0.5rem;
    }
    
    .card .info a {
        font-size: 20px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }

    .createbyme p {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-weight: lighter;
        font-size: 12px;
        color: white;
        margin-top: -14rem;
        margin-right: -22rem;
    }

}